body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.productos {
  padding: 40px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px;
  display: inline-block;
  width: 200px;
  border-radius: 10px;
}
